05.XML-Concepts-and-Processing-in-.NET/Homework-Basic-Concepts/Problem-03-Students-Endorsements.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="gender" type="xs:string" />
              <xs:element name="birth-date" type="xs:date" />
              <xs:element name="phone-number" type="xs:string" minOccurs="0" maxOccurs="1"/>
              <xs:element name="email" type="xs:string" />
              <xs:element name="university" type="xs:string" />
              <xs:element name="specialty" type="xs:string" />
              <xs:element name="faculty-number" type="xs:unsignedInt" minOccurs="0" maxOccurs="1"/>
              <xs:element name="exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="exam-name" type="xs:string" />
                          <xs:element name="date-taken" type="xs:date" />
                          <xs:element name="grade" type="xs:unsignedByte" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="endorsements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="author" type="xs:string" />
                    <xs:element name="author-email" type="xs:string" />
                    <xs:element name="endorsement-date" type="xs:date" />
                    <xs:element name="endorsement-text" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>